.lisetn2-title {
  width:600px;
  padding: 10px 16px;
  background:rgba(255,250,240,1);
  border-radius:2px;
  border:1px solid rgba(255,241,184,1);
  margin-top: 10px;
  p {
    font-size:14px;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:20px;
  }
}

.video-box {
  margin-top: 10px;
}

.gap-box {
  margin: 10px auto;
  p {
    font-size:14px;
    font-weight:400;
    color:rgba(0,0,0,0.85);
    line-height:32px;
  }
}